// colors
$primary-400: #E2E6E8;
$primary-450: #C4C4C4;
$primary-500:#A0A8B1;
$primary-800: #172C41;
$secondary-500:#ffffff;
$compliment-500: #2DCC70;
$compliment-600: #00A619;

// $green: #00A619;
$red: #E54517;
$dark-red:#992808;
// $black: #000000;
// $white: #FFFFFF;
$soft-gray: #F5F5F5;

// fonts 
$font-family-base: 'Roboto', sans-serif;
// font size
$font-size-base: 16px;
