// colors
$green: #00A619;
$red: #E54517;
$dark-red:#992808;
$black: #000000;
$white: #FFFFFF;
$soft-gray: #F5F5F5;

// fonts 
$font-family-base: 'Nunito', sans-serif;
// font size
$font-size-base: 16px;
